<div class="card">
    <div class="card-body">
      <h5 class="card-title">Proyectos</h5>
      <div class="card-body item-proyecto">
        <h5 class="card-title"><a href="0">Trabajo Final Integrador</a></h5>
        <p class="card-text">Desarrollando una aplicación web full stack, que mostrará: datos personales, estudios cursados, experiencia laboral y conocimiento de las
          tecnologías.</p>
      </div>

      <div class="card-body item-proyecto">
        <h5 class="card-title"><a href="0">Portafolio Web</a></h5>
        <p class="card-text">Desarrollo de maquetado HTML y CSS con Bootstrap basado en Angular.</p>
      </div>


    </div>
  </div>

