<div class="card">
    <div class="card-body">
      <h5 class="card-title">Educacion</h5>
      <div class="card-body item-educacion">
        <img src="../assets/images/icono.argprom.png" class="img-educacion" alt="">
        <div class="container">
          <h5 class="card-title">Argentina Programa</h5>
          <p class="card-text"><small class="text-body-secondary">Lenguaje y conocimiento sobre programación</small></p>
          <p class="card-text">2021-actualidad</p>
        </div>
      </div>

      <div class="card-body item-educacion">
        <img src="../assets/images/icono.unr.png" class="img-educacion" alt="">
        <div class="container">
          <h5 class="card-title">Universidad Nacional de Rosario</h5>
          <p class="card-text"><small class="text-body-secondary">Ciencias Económicas</small></p>
          <p class="card-text">2014-2015</p>
        </div>
      </div>

      <div class="card-body item-educacion">
        <img src="../assets/images/icono.lamerced.jpg" class="img-educacion" alt="">
        <div class="container">
          <h5 class="card-title">E.E.M.P.I. N° 3047 Nuestra Señora de la Merced</h5>
          <p class="card-text"><small class="text-body-secondary">Secundario completo. Modalidad: Economía y gestión de las organizaciones</small></p>
          <p class="card-text">2008-2012</p>
        </div>
      </div>
    </div>
  </div>

